<div id="<%= dom_id page %>">
  <div>
    <strong>Title:</strong>
    <%= page.title %>
  </div>

  <div>
    <strong>Slug:</strong>
    <%= page.slug %>
  </div>

  <div>
    <strong>Body:</strong>
    <%= page.body %>
  </div>

</div>
